td button{
    z-index: 1;
    cursor: pointer;
    /*background-color: #ffe7f0;*/
    background-color: #ffb7d1;
    color: #fff;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    text-decoration: none;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button :hover{
    background-color: #d692ab;

}
label {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #242424;
    margin: 0px; 
}
#come {
    
    margin-top: 3.5%;
    margin-bottom: 3.5%;
    width: 680px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  tr {
    display: grid;
    grid-template-columns: repeat(2, 600px);
    gap: 90px 50px; 
  }
  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px; /* Расстояние между колонками */
  }
  
  .column {
    padding: 20px;
    border: 1px solid #ccc; /* Добавляем рамку для лучшего визуального разделения */
    border-radius: 8px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  #come input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  

  .register-link {
    text-align: right;
    margin-top: 30px;
  }
  
  .hidden {
    display: none;
    transition: opacity 0.5s ease-in-out; /* Добавляем плавный переход */
  }
  #register-link :hover{
    color: #d692ab;
  }
  .error {
    color: red;
    margin-top: 5px;
  }
 